@font-face {
  font-family: "Work Sans";
  src: url(./WorkSans-VariableFont_wght.ttf);
}

html {
  box-sizing: border-box;
}

:root {
  --bg-color: #f7f7f7;
  --main-color: #0e2e1e;
  --button-bg: #102e25;
  --button-color: white;
  --button-color-2: #255a40;
  --body-color: #242424;
  --footer-bg: #eaeaea;
  --copywrite-bg: #e3e3e3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Work Sans";
}

nav {
  height: 120px;
  width: 100vw;
  background-color: var(--bg-color);

  display: flex;
  align-items: end;
}

nav ul {
  height: 80px;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: start;
}

li {
  list-style-type: none;
}

li + li {
  border-left: 1px solid var(--main-color);
  margin: 20px;
}

button {
  font-family: "Work Sans";
}
